.add-container {
    width: 100vw;
    height: 20vh;
    font-family: 'Livvic', sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #8b8989;
}
.title-genre {
    font-size: 24px;
    letter-spacing: 1.5px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
}
.title-genre > input {
    width: 12vw;
    height: 4vh;
    border: 2px solid #d21919;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}
.add-box {
    margin-bottom: 5px;
    display: flex;
    align-items: flex-end;
}
#add-button {
    font-size: 24px;
    font-weight: bolder;
    font-family: 'Livvic', sans-serif;
    padding: 10px 24px;
    border-radius: 12px;
    border: 1px solid black;
    background-color: #d21919;
    transition-duration: 0.2s;
    cursor: pointer;
    outline: none;
    transition: .5s ease-in-out;
    text-shadow: 0 0 50px transparent;
    color:rgba(0,0,0,.7);
    overflow: visible;
}
#add-button:hover {
    color: white;
    border: 1px solid #d21919;
    background-color: #2e2e2e;
    text-shadow: 0 0 20px white;
}
.developer-trailer {
    font-size: 24px;
    letter-spacing: 1.5px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 40px;
}
.developer-trailer > input {
    width: 12vw;
    height: 4vh;
    border: 2px solid #d21919;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
}