.nav-container {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    background-color: #d21919;
}
.logo {
    width: 20vw;
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
img {
    width: 7vw;
    height: 10vh;
}
img:hover {
    cursor: pointer;
}
.website-title {
    width: 20vw;
    height: 20vh;
    font-size: 40px;
    letter-spacing: 1px;
    font-family: 'Livvic', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.website-title > h1:hover {
    cursor: pointer;
}