.nav-container {
    width: 100vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    background-color: #d21919;
}
.logo {
    width: 20vw;
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
img {
    width: 7vw;
    height: 10vh;
}
.website-title {
    width: 20vw;
    height: 20vh;
    font-size: 3vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}